.test_component{
    display: flex;
    justify-content: space-between;
    margin: 20vh 250px;
}

.test_component div{
    border: 2px solid black;
    height: 350px;
    width:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
