::-webkit-input-placeholder {
    color: black;
    font-weight: 300;
    font-family: Alef;
}

.superInput {
    width: 150px;
    font-size: 15px;
    padding: 15px 0 10px 20px;
    border: 1px solid grey;
    background: rgba(91, 103, 184, 0.37);
    border-radius: 9px;
    color: black;
    font-weight: initial;
    margin: 10px auto;
}

.errorInput {
    width: 150px;
    padding: 15px 0 10px 20px;
    border-radius: 9px;
    border: 2px solid darkred;
    background: red;
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin: 10px auto;
}







