.over {
    background: #EBE0E9;
}
.logo {
    font-size: 40px;
    color: #21268F;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
.header_tittle{
    display: flex;
    height: 60px;
    align-items: center;
}
.menuIcon {
    padding-right: 15px;
}
.header_nav{
    text-decoration: none;
    color: #9f99a8;
    padding-left: 35px;
    height: 100%;
    padding-right: 35px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid transparent;
}

.header_nav_active{
    color: #2D2E46;
    border-bottom: 5px solid #21268F;
    background: #DCCCDB;
}
