.header_tittle{
    border: 2px solid black;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    border-radius: 8px;
    margin:0 2px;
    background: -webkit-linear-gradient(90deg, rgb(91, 91, 91), rgb(0, 210, 216));
    background: -moz-linear-gradient(90deg, rgb(91, 91, 91), rgb(0, 210, 216));
    background: linear-gradient(90deg, rgb(91, 91, 91), rgb(0, 210, 216));
}

.header_nav{
    width: 130px;
    font-family: "Bodoni MT Poster Compressed";
    margin: auto 15px auto 0;
    text-decoration: none;
    color:white;
    border:2px solid black;
    padding: 4px 5px;
    border-radius: 8px;
    background: -webkit-linear-gradient(270deg, rgb(49, 49, 162), rgb(216, 111, 0));
    background: -moz-linear-gradient(270deg, rgb(49, 49, 162), rgb(216, 111, 0));
    background: linear-gradient(270deg, rgb(49, 49, 162), rgb(216, 111, 0));
}

.header_nav_active{
    background: -webkit-linear-gradient(135deg, rgb(41, 79, 213), rgb(89, 218, 45));
    background: -moz-linear-gradient(135deg, rgb(41, 79, 213), rgb(89, 218, 45));
    background: linear-gradient(135deg, rgb(41, 79, 213), rgb(89, 218, 45));
    color: black;
    font-weight: 600;
    font-size: 18px;
}